$color-hair: #010004;
$color-hair2: #172c4f;
$color-hair3: #37598a;

$color-eyebrow: #0e0f35;

$color-face: #4b5dc3;
$color-face2: #6973cb;
$color-face3: #d9e2fd;

$color-shadow: #475ec3;

$color-tika: #dde9ff;
$color-eyes: #eeeaf2;
$eyes-shadow: #b3acb5;

$color-cheeks: #c4b2ed;
$color-lips: #cd8dda;
$color-earring: #fffdaf;

//Variables
$color-background: #fbfbfb;
$color-text: #fcfcfc;

$color-mandal: #e9e9e9;
$color-grey: #808080;
$color-grey-light: #cecece;

$color-primary: #9a5a29;

$color-primary2: #8a460f;

$color-primary3: #682d0b;

$color-secondry: #f44437;

$font-eng: "Quicksand", sans-serif;
$font-hi: "Asar", serif;
$font-eng-2: "Space Mono", serif;
