extends base

block content
  main.login
    include _headerNav
    .login-main
      .login-form
        h2.heading-secondary.ma-bt-lg Forget Password
        form.form.form--forgetPassword
          .form__group.ma-bt-md
            label.form__label(for='email') Email address
            i.uil.uil-envelope-alt.icon_form.icon_form-t2
            input#email.form__input(type='email', placeholder='your email', required)
          .form__group
            .form_button 
              button.btn--forgetPassword.btn-update Send Email
              img.loading_Update(src="/img/svg/Spin-1s-200px.svg", alt="")