extends base

block content
  main.login
    include _headerNav
    .login-main
      .login-form
        h2.heading-secondary.ma-bt-lg Reset Your Password
        form.form.form--resetPassword
          .form__group
            label.form__label(for='password') New Password
            i.uil.uil-lock-alt.icon_form
            input#password.form__input(type='password', placeholder='••••••••', required, minlength='8')
          .form__group.ma-bt-md
            label.form__label(for='passwordConfirm') Password Confirm
            i.uil.uil-lock-alt.icon_form
            input#passwordConfirm.form__input(type='password', placeholder='••••••••', required, minlength='8')
          .form__group
            .form_button 
              button.btn--resetPassword.btn-update(data-token=`${token}`) Reset Password
              img.loading_Update(src="/img/svg/Spin-1s-200px.svg", alt="")