extends base

block content
  main.login
    include _headerNav
    .login-main
      .login-form
        h2.heading-secondary.ma-bt-lg Sign Up
        form.form.form--signup
          .form__group
            label.form__label(for='email') Username
            i.uil.uil-user.icon_form.icon_form-t2
            input#name.form__input(type='name', placeholder='username', required)
          .form__group
            label.form__label(for='email') Email address
            i.uil.uil-envelope-alt.icon_form.icon_form-t2
            input#email.form__input(type='email', placeholder='example@123.com', required)
          .form__group
            label.form__label(for='password') Password
            i.uil.uil-lock-alt.icon_form
            input#password.form__input(type='password', placeholder='••••••••', required, minlength='8')
          .form__group.ma-bt-md
            label.form__label(for='passwordConfirm') Password Confirm
            i.uil.uil-lock-alt.icon_form
            input#passwordConfirm.form__input(type='password', placeholder='••••••••', required, minlength='8')
          .already_have
            p Already have an account!
            a.already_have-link(href="/login") Log In 
          .form__group
            .form_button 
              button.btn--Signup.btn-update Signup
              img.loading_Update(src="/img/svg/Spin-1s-200px.svg", alt="")